@import './../../../shared/styles/variables';

.contact-view {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
	min-height: 0px;
	width: 100%;
}

.contact-message-list {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
	padding: 0;
	flex: 0 0 auto;
	box-shadow:0 1px 1px rgba(0,0,0,.1);
	position: relative;
	z-index:3;
}

.contact-message {
	padding: 0.5rem 1rem .4rem;
	background-color: $light-yellow;
	margin-bottom: 0;
	font-size: 1em;
	display: flex;
	align-items: center;
	border-bottom:1px solid rgba(0,0,0,0.15);
	
}

.contact-message-text{
	flex-grow:1;
	flex-wrap:wrap;
}

.contact-message-label{
	line-height: 1.7;
	justify-content: center;
}

.contact-message-action-list {
	display: inline-flex;
	vertical-align: middle;
}

.contact-message-action-button.btn {
	height:2rem;
	line-height: 2rem;
	margin-left:5px;
	padding-right:.2rem;
	padding-left:.2rem;
	&:hover{
		background: transparent;
		text-decoration: underline;
	}
}

.contact-message-hide-button {
	display: flex;
	font-size:1.4rem;
	padding:0;
	opacity: .3;
	&:hover{
		opacity: 1;
	}
}

.contact-body {
	display: flex;
	flex-direction: row;
	opacity: 1;
	transition: none;
	flex-grow:1;
	min-height:0px;
	position: relative;
	height:100%;
}

.contact-body.loading {
	opacity: 0;
	transition: 0.25s opacity ease-out;
}

.contact-sidebar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	min-height: 0px;
	
	width: $sidebar-width;
	background: $medium-grey;
	transition: width 150ms;
	@media #{$medium-large-and-up}{
		width: $sidebar-width-expanded;
	}
	.contact-navigation-link-label {
		opacity: 0;
		display: none;
		@media #{$medium-large-and-up}{
			opacity: 1;
			display: block;
		}
	}
	.contact-navigation-link-icon {
		width: auto;
	}
	&.ng-animate{
		.contact-navigation-link-label{
			white-space: nowrap;
		}
	}

	&.shadow{
		box-shadow: inset -3px 0 3px -2px rgba(0, 0, 0, 0.2);
	}
}

.contact-sidebar-inner{
	flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0px;
    padding-right: 6px;
	padding-left: 6px;
	padding-top: 20px;

	@media #{$medium-and-up}{
		padding-top: 26px;
		
	}

	@media #{$medium-large-and-up}{
		padding-right:6px;
		padding-top: 33px;

	}

}

.contact-view-container {
	display:flex;
	flex-direction:column;
  	flex-grow:1;
	height:100%;
	position: relative;
}

.contact-view-title {
	padding: .667rem 1.333rem;
	color: $grey;
}

.contact-inner-view-container{
	display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    min-height: 0px;
	overflow-x: hidden;
	padding-left: $sidebar-width;
	background: #fff;

	&.summary{
		background: #F2F2F2;

		.contact-inner-view{
			padding: 0;
		}
	}

	@media #{$medium-large-and-up}{
		padding-left: $sidebar-width-expanded;
	}
}

.contact-inner-view{
	padding: 0;
	display: block;
	@media #{$large-and-up}{
		display: flex;
	}

}

.contact-inner-view {
	flex-direction: column;
}

.contact-box{
	background: #fff;
	padding: 20px;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.45);
	margin: 20px 10px;

	h2{
		margin: 0;
		padding: 0;
		font-weight: 500;
		font-size: 1.3em;
	}

}

.contact-data {
	width: 100%;
	max-width:600px;
	margin-bottom:.75rem;
	table-layout: fixed;
	th, td {
		vertical-align: top;
	}

	td{
		padding:0 0 1.3rem;
	}

	th {
		padding:0 0 .2rem;
		color: $grey;
		background: transparent;
		font-weight: normal;
		font-size:.933rem;
		line-height: 1.6rem;
	}

	table,tbody,tr,th,td{
		display: block;
	}

	@media #{$medium-and-up}{
		table{display: table;}
		tbody{display: table-row-group;}
		tr{display:table-row;}
		td,th{
			display:table-cell;
			padding: 0.7em 0;
		}
		th{
			padding-right: 2em;
		}
	}
}
