.modal-confidentiality{
	padding:.5rem 1.5rem;
	li{
		padding:.2rem 0;
		input{
			margin-right:4px;
		}
	}
}

.confidentiality-warning{
	padding:0 1.5rem;
	max-width:450px;
	zs-icon{
		color:red;
		font-size:1.3rem;
	}
}