<div class="spot-enlighter-highlight">
	<button
		class="spot-enlighter-back-button spot-enlighter-back"
		ng-click="$ctrl.handleBackClick()"
		zs-tooltip="Terug"
		zs-tooltip-options="{ attachment: 'right top', target: 'right top', offset: { x: -8, y: 7 } }"
	>
		<zs-icon icon-type="arrow-left"></zs-icon>
		<span class="button-text">Terug</span>
	</button>

	<div class="spot-enlighter-container">
		<div class="spot-enlighter-input-container">
			<zs-dropdown-menu
				data-name="object-type-select"
				data-options="$ctrl.getObjectTypeOptions()"
				button-label="{{$ctrl.getObjectTypeLabel()}}"
				class="spot-enlighter-object-dropdown"
				button-icon="menu-down"
			>
			</zs-dropdown-menu>

			<button
				data-name="open-button"
				class="button-reset top-bar-button spot-enlighter-icon"
				ng-click="$ctrl.handleMagnifyClick()"
				ng-disabled="$ctrl.isOpen()"
			>
				<zs-icon icon-type="magnify"></zs-icon>
				<zs-spinner class="spinner-small" is-loading="$ctrl.isLoading()"></zs-spinner>
			</button>

			<input
				type="text"
				data-name="query-input"
				class="spot-enlighter-input"
				ng-model="$ctrl.query"
				ng-change="$ctrl.handleQueryChange()"
				placeholder="Zoeken in Zaaksysteem.nl"
			/>
		</div>

		<zs-spot-enlighter-suggestion-list
			data-suggestions="$ctrl.getSuggestions()"
			on-select="$ctrl.handleSuggestionSelect($suggestion, $event)"
			on-change-query="$ctrl.handleChangeQuery($query)"
			key-input-delegate="$ctrl.getKeyInputDelegate()"
			data-label="{{$ctrl.getSuggestionListLabel()}}"
			object-type="$ctrl.getSelectedObjectType()"
			on-object-type-change="$ctrl.handleObjectTypeChange($type)"
			external-search-settings="$ctrl.getExternalSearchSettings()"
			external-search-results-count="$ctrl.getExternalSearchResultsCount()"
		>
		</zs-spot-enlighter-suggestion-list>
	</div>
</div>
