[% nowrapper=1 %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

[% layout_type = 'simple' %]

<div id="loginwrap" class="alt-auth alt-auth-smscode">
    <div class="block">
        <div class="block-header">
            <h1>Wachtwoord opnieuw instellen</h1>
        </div>
        <div class="block-content clearfix">
            <div class="alt-auth-small-form">


                        <p class="alt-auth-intro">
                    [% IF twofactor_error %]
                        <span class="alt-auth-error">[% twofactor_error %]</span>
                    [% END %]
                        U heeft een SMS-Code ontvangen. Vul deze hieronder in om een nieuw wachtwoord in te stellen.
                        </p>
                    
                        <form action="[% c.uri_for('/auth/twofactor/lost_password_verify_second_factor') | html_entity %]" method="POST" class="zvalidate">
                            <div class="row">
                                <div><label for="secondfactor">SMS-code *</label></div>
                                <div class="column"><input type="text" name="factor" id="secondfactor">
                                [% PROCESS widgets/general/validator.tt %]</div>
                            </div>

                            <button type="submit" value="Code controleren" class="button button-primary">
                                <span class="a">Code controleren</span>
                            </button>
                            <br>
                        </form>

            </div>
        </div>
    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
