            <div class="next-status-block next-status-block-with-table">
                <div id="next_status_subzaak">

                    <h2 class="blue">
                        [% component_counter = component_counter || 0 %]
                        [% component_counter = component_counter + 1; component_counter %].
                        Hoofdzaak fase afronden
                    </h2>

                    <input type="checkbox" name="parent_advance" checked="checked" value="1" /> Rond de huidige fase van de hoofdzaak af.
                </div>
            </div>
