@import "../../../styles/variables";

.allocation-picker-option{
	margin:0 0 .25rem;
}

.allocation-picker-option-button{
	@include button-reset();
	border:2px solid #f1f1f1;
	width:100%;
	background:#F1F1F1;
	padding:.4rem .7rem;
	align-items: center;
	display: flex;
	&:hover{
		border-color:#e0e0e0;
		background:#e0e0e0;
	}
	> zs-icon{
		font-size:1.25rem;
		margin:0 .75rem 0 0;
	}
}

.allocation-picker-option.selected {
	border:2px solid $primary-color;
	> button {
		background: none;
		border:none;
		> zs-icon {
			color: $primary-color;
		}
	}
}

.allocation-picker-content{
	padding:0 .9rem .9rem;

	zs-object-suggest,
	vorm-object-suggest-display{
		margin-bottom: 10px;
	}

	.disabled{
		color: #aaa;
	}

}

.self-assign .allocation-picker-content {
	display: none;
}

.allocation-picker-content-self{
	padding-top: .8rem;	
	user-select: none;
}

// prevent flicker
.allocation-picker-content.ng-enter-prepare {
	display: none;
}

vorm-allocation + .vorm-clear{
	display: none !important;
}

.allocation-picker-coworker-display{
	position: relative;
	 > button{
		@include button-reset();
		position: absolute;
		right:10px;
		top:4px;
		font-size:1.2rem;
	}
}