
<table class="opties">

<input type="hidden" name="type" value="allocation" />
<tr>
    <td class="td-label td200">Toewijzing</td>
    <td>
        [% PROCESS widgets/general/auth_select.tt
            AUTH_SELECT_NO_GLOBAL = 1
            AUTH_SELECT_OU_NAME = 'ou_id'
            AUTH_SELECT_OU_VALUE = ou_id
            AUTH_SELECT_ROLE_NAME = 'role_id'
            AUTH_SELECT_ROLE_VALUE = role_id
        %]
    </td>
</tr>
</table>
