<form ng-submit="$ctrl.handleSubmit()">
	<div
		ng-if="$ctrl.formNote()"
		class="form-message"
	>{{$ctrl.formNote()}}</div>

	<vorm-fieldset
		data-fields="$ctrl.getFields()"
		data-valid="$ctrl.getValidity()"
		data-values="$ctrl.getValues()"
		data-locals="$ctrl.getLocals()"
		on-change="$ctrl.handleChange($name, $value)"
	></vorm-fieldset>

	<button
		type="button"
		data-name="expand"
		class="{ active: $ctrl.isExpanded() } btn-show-more"
		ng-show="$ctrl.canExpand()"
		ng-click="$ctrl.handleExpandClick()"
	>
		{{$ctrl.getExpandLabel()}}
	</button>

	<div class="form-actions">
		<button
			class="btn btn-flat" 
			type="submit" 
			ng-show="$ctrl.canEdit()"
			ng-click="$ctrl.handleSaveClick()" 
			ng-disabled="!$ctrl.canSave()"
		>
			Opslaan
		</button>

		<button 
			class="btn btn-flat" 
			type="button"
			ng-show="$ctrl.canEdit()"
			ng-click="$ctrl.handleExecuteClick()" 
			ng-disabled="!$ctrl.canExecute()"
		>
			{{$ctrl.getVerb()}}
		</button>
	</div>
</form>

