[% USE String %]
[%
rechtsvormmap = ZCONSTANTS.kvk_rechtsvormen;
rechtsvormenabled = ZCONSTANTS.kvk_rechtsvormen_enabled;
%]
<!-- WIDGET: betrokkene/bedrijf_create -->
<div class="wgt-betrokkene-bedrijf_create zsaction-container">
    <table class="table_zaakinformatie">
        [% IF betrokkene_edit %]
        <tr>
            <td>Authentiek:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    <i class="icon icon-graphic icon-betrokkene-gm"></i>
                [% ELSE %]
                    <i class="icon icon-graphic icon-betrokkene-zs"></i>
                [% END %]
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Bron:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    KVK
                [% ELSE %]
                    [% betrokkene.authenticatedby %]
                [% END %]
            </td>
            <td></td>
        </tr>
        [% END %]
        <tr>
            <td>KvK-nummer:</td>
            <td>
                <input  type="text"
                        name="dossiernummer"
                        class="input_medium"
                        value="[% betrokkene.dossiernummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Vestigingsnummer:</td>
            <td>
                <input  type="text"
                        name="vestigingsnummer"
                        class="input_medium"
                        value="[% betrokkene.vestigingsnummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Handelsnaam:</td>
            <td>
                <input  type="text"
                        name="handelsnaam"
                        class="input_medium"
                        value="[% betrokkene.handelsnaam %]">
                
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Rechtsvorm:</td>
            <td>
                [% currentrechtsvormid = betrokkene.rechtsvorm %]
                [% FOREACH rechtsvormid IN rechtsvormenabled %]
                    <input
                        type="radio"
                        name="rechtsvorm"
                        value="[% rechtsvormid %]"
                        [% (rechtsvormid == currentrechtsvormid ?
                        'checked="checked"' : ''
                        ) %]
                        >
                        [% rechtsvormmap.$rechtsvormid %] <br>
                [% END %]
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Land:</td>
            <td>
                <select
                name="vestiging_landcode"
                class="
                zsaction
                zsaction-when-6030-show-binnenland
                zsaction-when-6030-hide-buitenland
                zsaction-whennot-6030-show-buitenland
                zsaction-whennot-6030-hide-binnenland
                replace-select-start-zaak
                ">
                [% FOREACH betrokkene_option IN landcodes %]
                    <option
                    value="[% betrokkene_option.value %]"
                    [% betrokkene.vestiging_landcode == betrokkene_option.value ? 'selected="selected"' : '' %]
                    >
                        [% betrokkene_option.label %]
                    </option>
                [% END %]
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Vestiging straat:</td>

            <td>
                <input  type="text"
                        name="vestiging_straatnaam"
                        class="input_medium"
                        value="[% betrokkene.vestiging_straatnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Vestiging huisnummer:</td>
            <td>
                <input  type="text"
                        name="vestiging_huisnummer"
                        class="input_mini"
                        value="[% betrokkene.vestiging_huisnummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Vestiging huisletter:</td>
            <td>
                <input  type="text"
                        name="vestiging_huisletter"
                        class="input_mini"
                        value="[% betrokkene.vestiging_huisletter %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Vestiging huisnummertoevoeging:</td>
            <td>
                <input  type="text"
                        name="vestiging_huisnummertoevoeging"
                        class="input_mini"
                        value="[% betrokkene.vestiging_huisnummertoevoeging %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Vestiging postcode:</td>
            <td>
                <input  type="text"
                        name="vestiging_postcode"
                        class="input_mini"
                        value="[% betrokkene.vestiging_postcode %]"> 1234AZ
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Vestiging woonplaats:</td>
            <td>
                <input  type="text"
                        name="vestiging_woonplaats"
                        class="input_medium"
                        value="[% betrokkene.vestiging_woonplaats %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-buitenland">
            <td>Adresregel 1:</td>
            <td>
                <input  type="text"
                        name="vestiging_adres_buitenland1"
                        class="input_medium"
                        value="[% betrokkene.vestiging_adres_buitenland1 %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-buitenland">
            <td>Adresregel 2:</td>
            <td>
                <input  type="text"
                        name="vestiging_adres_buitenland2"
                        class="input_medium"
                        value="[% betrokkene.vestiging_adres_buitenland2 %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-buitenland">
            <td>Adresregel 3:</td>
            <td>
                <input  type="text"
                        name="vestiging_adres_buitenland3"
                        class="input_medium"
                        value="[% betrokkene.vestiging_adres_buitenland3 %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Telefoonnummer:</td>
            <td>
                <input  type="text"
                        name="telefoonnummer"
                        class="input_medium"
                        value="[% betrokkene.telefoonnummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>E-mailadres:</td>
            <td>
                <input  type="text"
                        name="email"
                        class="input_medium"
                        value="[% betrokkene.email %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        <tr>
            <td>Contactpersoon voorletters:</td>
            <td>
                <input  type="text"
                        name="contact_voorletters"
                        class="input_mini"
                        value="[% betrokkene.contact_voorletters %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        <tr>
            <td>Contactpersoon tussenvoegsel:</td>
            <td>
                <input  type="text"
                        name="contact_voorvoegsel"
                        class="input_medium"
                        value="[% betrokkene.contact_voorvoegsel %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        <tr>
            <td>Contactpersoon achternaam:</td>
            <td>
                <input  type="text"
                        name="contact_geslachtsnaam"
                        class="input_medium"
                        value="[% betrokkene.contact_geslachtsnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
    </table>
</div>
<!-- END WIDGET: betrokkene/bedrijf_create -->
