* {
  padding: 0;
  margin: 0;
  font-family: roboto, "open sans", "helvetica neue", helvetica, arial, sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: roboto, "open sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  background: white; }

a {
  color: #2c9ab7; }
  a:hover {
    color: #11449e; }

.error {
  font-size: 28px;
  line-height: 1.4;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

.inner {
  max-width: 660px; }

img {
  max-width: 200px;
  margin-bottom: 30px; }

.error-code {
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}
