$tooltip-bg-color:#333;

.title-tooltip {
	margin-top: -8px;
}

.title-tooltip {
	z-index: 4000;
	position: relative;
	max-width:250px;
}

.title-tooltip-content{
	background: $tooltip-bg-color;
	color: white;
	padding:5px 10px;
	border-radius: 3px;	
	line-height: 1.3;
	text-align:center;
	position:relative;
}

.tooltip-hidden {
	visibility:hidden;
}

.tooltip-visible {
	visibility:visible;
}

.title-tooltip-arrow{
	position:absolute;
	border-top:4px solid $tooltip-bg-color;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom: 0px;
	bottom:-4px;
	left:50%;
	margin-left:-2px;
}

.title-tooltip[data-zs-title-registration="bottom"] .title-tooltip-arrow {
	border-top: 0;
	border-bottom: 4px solid $tooltip-bg-color;
	bottom: 100%;
}



.zs-tooltip {
	background: rgba(0,0,0,0.8);
	padding: 0.1rem 0.5rem;
	z-index: 4000;
	transition: 0.15s ease-out opacity;
	border-radius:2px;
	font-size:.9em;
	display: block;
	opacity: 1;
	position: fixed;
	pointer-events: none;
}

.zs-tooltip-content {
	color: white;
}

.zs-tooltip-hide {
	opacity: 0;
	display: none;
}

.zs-tooltip-hide-add {
	display: block;
	opacity: 1;
}

.zs-tooltip-hide-add-active {
	display: block;
	opacity: 0;
}

.zs-tooltip-hide-remove {
	display: block;
	opacity: 0;
}

.zs-tooltip-hide-remove-active {
	display: block;
	opacity: 1;
}
